
/********** Colors **********/
$dark-color: rgba(0, 0, 0, 1);
$purple-color:  #6C63FF;
$grey-color: rgba(32, 32, 32, 1);
$red-color: #E7333B;;
$white-color: #fff;


/********** Font **********/
$font-family: 'Montserrat', sans-serif;

/********** Font Size **********/
$extra-smaller-font-size: 14px;
$smaller-font-size: 20px;
$middle-font-size: 25px;
$big-font-size:44px;

/********** Font weight **********/
$font-regular: 400px;
$font-bold: 600;


/********** Line Height **********/
$extra-smaller-line-height: 17px;
$smaller-line-height: 24px;
$middle-line-height: 31px;
$big-line-height:54px;
