
.main-section{
    .container{

        .main-left-wrapper{
            display: flex;
            align-items: flex-end;
            height: 100%;
            .main-content{
                h1{
                    font-size: $big-font-size;
                    line-height: $big-line-height;
                    font-weight: $font-bold;
                    margin-bottom: 28px;
                }
                hr{
                    width: 50px;
                    height: 3px;
                    color: rgb(143, 137, 137);
                    margin-bottom: 28px;
                }
                
                p{
                    font-size: $smaller-font-size;
                    line-height: $smaller-line-height;
                    font-weight: $font-regular;
                    opacity: 0.7;
                    margin-bottom: 54px;
                }
                
                .main-buttons{
                    display: flex;
                    .register-button{
                        width: 146px;
                        height: 50px;
                        background-color: $purple-color;
                        border: 2px solid #353434;
                        margin-right: 20px;

                        a{
                            text-decoration: none;
                            color: $white-color;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .learn-more-button{
                        width: 125px;
                        height: 50px;
                        border: 2px solid #B7B3B3;
                        
                        a{
                            text-decoration: none;
                            color: $dark-color;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }

        .main-right-wrapper{
            img{
                width: 100%;
            }
        }
    }
}


@media (max-width: 992px) { 
    .main-content{
        margin-bottom: 50px;
    }
}

